@{
    ViewData["Title"] = "Teste de CRUD";
}

<div class="text-center">
    <h1 class="display-4">Olá, neste pequeno projeto segue o teste CRUD solicitado!</h1>
    <p class="corpo_texto"> Realizei esse teste usando C# como solicitado com auxilio do Visual Studio 2022 e ASP.NET Core</a>.</p>


    <a href="/Cliente" class="corpo_informacoes"> <p > Clique aqui ou na aba Cliente no canto superior esquerdo para acessar o CRUD!</p></a>

</div>
